.task-empty-list{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    border-radius: 33px;
}

.task-empty-list__image{
    margin-top: 50px;
    width: 10%;
}

.task-empty-list__info{
    font-size: 30px;
    color: grey;
}

.task-empty-text{
    font-size: 25px;
    color: grey;
}